.rectangle-icon {
    width: 678px;
    position: relative;
    border-radius: var(--br-31xl);
    max-height: 100%;
    display: none;
    max-width: 100%;
  }
  .animation-on-how,
  .press-any-key {
    margin: 0;
  }
  .result-puls3 {
    margin: 0;
    height: 115px;
    width: 460px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .frame-child123,
  .vector-parent {
    position: absolute;
    top: 0;
    border-radius: var(--br-31xl);
  }
  .vector-parent123 {
    left: 0;
    background-color: var(--color-whitesmoke);
    width: 678px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* padding: var(--padding-108xl) var(--padding-xl) var(--padding-58xl); */
    box-sizing: border-box;
    max-width: 100%;
    z-index: 2;
  }
  .frame-child123 {
    height: 100%;
    bottom: 0;
    left: 18.2px;
    background-color: var(--color-gray);
    width: 190.2px;
  }
  .group-div,
  .start {
    position: absolute;
    width: 227px;
  }
  .start {
    margin: 0;
    top: 17.3px;
    left: 0px;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
    height: 56.6px;
    z-index: 1;
  }
  .group-div {
    top: 277px;
    left: 225px;
    height: 74px;
    cursor: pointer;
    z-index: 3;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
  }
  .frame-parent8 {
    height: 351px;
    flex: 1;
    position: relative;
    min-width: 441px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--dark);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 800px) {
    .start {
      font-size: var(--font-size-13xl);
    }
  }
  @media screen and (max-width: 675px) {
    .frame-parent8 {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .result-puls3 {
      font-size: var(--font-size-lgi);
    }
    .start {
      font-size: var(--font-size-5xl);
    }
  }
  