.vital-signs {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.vital-signs-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.note {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  color: #424242;
}
.a-s-k-thermometer,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.a-s-k-thermometer {
  width: 613px;
  flex-direction: row;
  padding: 0 48px;
  box-sizing: border-box;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #00b3ff;
  width: 100%;
  height: 100%;
}
.thermometer-icon {
  position: absolute;
  top: 23.4px;
  left: 41.8px;
  width: 106.6px;
  height: 104.4px;
  overflow: hidden;
  z-index: 1;
}
.circle-symbol,
.temperature {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.temperature {
  top: 128.6px;
  left: 29.8px;
  display: inline-block;
  width: 131.3px;
  height: 43.2px;
  z-index: 1;
}
.temp {
  height: 187px;
  width: 191px;
  position: relative;
  min-width: 191px;
  cursor: pointer;
}
.frame-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.o2 {
  height: 25.2px;
  flex: 1;
  position: relative;
  font-weight: 900;
  display: inline-block;
  z-index: 1;
}
.lungs-icon {
  height: 134px;
  width: 154.9px;
  position: absolute;
  margin: 0 !important;
  top: -112.3px;
  left: -62px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.heart-label,
.o2-sat,
.temp-parent-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.heart-label {
  width: 136.6px;
  justify-content: flex-start;
  position: relative;
}
.o2-sat,
.temp-parent-container {
  flex: 1;
}
.o2-sat {
  justify-content: flex-end;
  padding: 129px 14.4px 32.8px;
  box-sizing: border-box;
  position: relative;
  min-width: 138px;
  cursor: pointer;
  z-index: 2;
  text-align: left;
}
.temp-parent-container {
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.circle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 191px;
  height: 187px;
  object-fit: cover;
  cursor: pointer;
}
.ask {
  position: absolute;
  top: 17.4px;
  left: 99.43px;
  display: inline-block;
  width: 63.5px;
  height: 19px;
  transform: rotate(0.1deg);
  transform-origin: 0 0;
  z-index: 1;
}
.ask-question-symbol {
  height: 187px;
  width: 191px;
  position: relative;
  min-width: 191px;
}
.temp-parent-container-parent {
  width: 620px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 26px;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
}
.note-temperature-and {
  height: 38px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.note-temperature-and-oxygen-s-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: rgba(114, 114, 114, 0.5);
  font-family: var(--font-inter);
}
.a-s-k-thermometer-parent,
.homeselection-inner,
.note-temperature-and-oxygen-s-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.a-s-k-thermometer-parent {
  width: 682px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 54px;
}
.homeselection-inner {
  width: 962px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--dark);
  font-family: var(--font-inter);
}
.homeselection {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 52px;
  box-sizing: border-box;
  gap: 28px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .vital-signs {
    font-size: var(--font-size-10xl);
  }
  .a-s-k-thermometer-parent {
    gap: 27px 54px;
  }
}
@media screen and (max-width: 675px) {
  .a-s-k-thermometer {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .ask-question-symbol {
    flex: 1;
  }
  .temp-parent-container-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .vital-signs {
    font-size: var(--font-size-3xl);
  }
  .note {
    font-size: var(--font-size-base);
  }
  .temp {
    flex: 1;
  }
  .temp-parent-container {
    flex-wrap: wrap;
  }
}
